body {
    font-family: sans-serif;
    background: #BDA0BC;
    margin: 0;
  }
  

  .title {
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
  }

  .navbar {
      background-color: #A2708A;
      display: flex;
      justify-content: space-between;
      padding: 10px;
  }

  .navlink {
    color: black;
    margin: 1em;
    background-color: #824670;
    border-radius: 3px;
    padding: 3px;
  }

  .new {
      text-align: center;
  }

  a {
    text-decoration: none;
  }
  
  label {
    display: block;
  }
  
  form {
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  

  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 5px;
    background-color: #8A7589; 
    padding: 5px;
  }
  
  .grid-container > div {
  
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
  }
  
  .xylabel {
    font-size: 20px;
  }
  
  .item19 {
    grid-area: 1 / 3 / 11 / 12;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  #machine {
    position: relative;
    padding: 10px;
    z-index: 1;
  }
  
  #blackbox {
    position: absolute;
    background: black;
    width: 250px;
    height: 80px;
    left: 45px;
    top: 178px;
    z-index: 2;
  }
  
  #machineinput {
    position: absolute;
    left: 60px;
    top: 75px;
    z-index: 3;
    color: red;
  }
  
  #machineoutput {
    position: absolute;
    left: 258px;
    top: 335px;
    z-index: 4;
    color: purple;
  }
  
  .item20 {
    grid-area: 1 / 12 / 11 / 21;
    background-color: white;
  }
  
  .item {
    min-height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .animatedInput {
    position: absolute;
    animation: inputMove 5s;
    left: 20%;
    z-index: 3
  }
  
  @keyframes inputMove {
    0% {top: 0%;}
    100% {top: 50%;}
  }
  